@import "import.scss";

body{
	font-family: 'Karla', sans-serif;
	background: white;
}

section {
	@include margin(1, null, null , null)
}

.portfolio {
	background: url('../images/portfolio1.jpg') no-repeat center;
	background-size: cover;
	width:100%;
	height:431px;
	opacity:0.9;
}

.entry {
	width: 75%;
	text-align: center;
	color: $color-darkest;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Karla', sans-serif;
}