/* Color palette */
$color-darkest: #eb9ac0;
$color-dark: #f3aacb;
$color-neutral: #f7bfd8;
$color-light: #fbd5e5;
$color-lighter: #fdeaf2;

$padding-left: 10px;
$padding: 5px;

$bodyMargin: 0;


$hover: yellow;

$bold: 600;
